doctype html
html(lang="en")

  head

    meta(charset="utf-8")
    meta(
    name="viewport"
    content="width=device-width, initial-scale=1"
    )

    include ./style

    title React • TodoMVC

  body

    include ./components/index

    //- <!-- Scripts here. Don't remove ↓ -->
    //- include script
